body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    color: black;
    animation: fadein 1.5s ease-in;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
h1 {
    text-align: center;
    font-size:x-large;
    background-color:black;
    color: white;
    padding: 15px;
    margin: 20px;
}

h2 {
    text-align: left;
    font-size: x-large;
    color: black;
    margin: 20px;
    text-decoration: underline;
    padding: 15px;
}

p{
    font-size: large;
    color: black;
    border: 2px solid;
    max-width: fit-content;
    background-color: white;
    padding: 8px;
}

a{
    color: white;
    background-color: black;
    padding: 12px 20px;
    border-radius: 8px;
}

a:hover {
    background-color: lightblue;
    color: black;
}

ul{
    list-style-type: square;
    font-size: x-large;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    animation: fadein 1.5s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2 {
    font-size: large;
    color: black;
    border: 2px solid;
    max-width: fit-content;
    background-color: white;
}

h3 {
    font-size: x-large;
    color: black;
    border: 2px solid;
    max-width: fit-content;
    background-color: white;

}

p {
    font-size: large;
    color: black;
    margin: 20px;
    text-align: left;
    font-weight:bolder;
}

a {
    color: white;
    background-color: black;
    padding: 12px 20px;
    border-radius: 8px;
}

a:hover {
    background-color: lightblue;
    color: black;
}

img {
    border: 2px double black;
    border-width: thick;
    border-color: black;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: 0;
    padding: 20px;
    color: black;
    animation: fadein 1.5s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    font-size: x-large;
    background-color: black;
    color: white;
    padding: 15px;
    margin: 20px;
    font-size: x-large;
    font-weight: bolder;
}

p {
    font-size: large;
    color: black;
    border: 2px solid;
    max-width: fit-content;
    background-color: white;
    padding: 8px
}

a {
    color: white;
    background-color: black;
   padding: 12px 20px;
   border-radius: 8px;
}

a:hover {
    background-color: lightblue;
    color: black;
}

body {
  background-color: lightgray;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  color: black;
  animation: fadein 1.5s ease-in;
}
 @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
 }

 h1 {
    text-align: center;
    font-size: x-large;
    background-color:black ;
    color: white;
    padding: 15px;
    margin: 20px;
 }

 h2 {
    font-size: large;
    color: black;
    border: 2px solid;
    max-width: fit-content;
    background-color: white;
    padding: 8px;
 }

 p {
    text-align: left;
    font-size: x-large;
    color: black;
    font-weight: bold;
 }

 strong {
    text-decoration: underline;
    color: white;
 }

 a {
    color: white;
    background-color: black;
    padding: 12px 20px;
    border-radius: 8px;
 }

 a:hover {
    background-color: lightblue;
    color: black;
 }

 body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    animation: fadein 1.5s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    font-size: x-large;
    background-color: black;
    color: white;
    padding: 15px;
    margin: 20px;
    font-weight: bolder;
}

h2{
    font-size: large;
    color: black;
    border: 2px solid;
    max-width: fit-content;
    background-color: white;
    padding: 8px;
}

h3 {
    font-size: large;
    color: black;
    border: 2px solid;
    max-width: fit-content;
    background-color: white;
    padding:8px;
}

p {
    text-align: left;
   font-size: large; 
   color: black;
   margin: 20px;
   font-size: large;
   font-weight: bold;
}

a{
    color: white;
    background-color: black;
    padding: 12px 20px;
    border-radius: 8px;
}

a:hover {
    background-color:lightblue;
    color: black;
}

img {
    border:2px double black;
    border-width: thick;
    border-color: black;
}

